#section-one{

    width: 100%;
    height: 100px;
}
#section-two{
    color: black;
    font-size: 30px;
    width: 100%;
    height: 50px;
    margin-left: 5px;
   
}
#section-three{
    color: black;
    width: 100%;
    height: 50px;
}

#container-one{
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.one{
    
    position: relative;
    flex: 2;
    max-width: 940px;
    height: 300px;
    margin: 10px;
    color: black;
}
.two{
    
    position: relative;
    flex: 1;
    max-width: 940px;
    height: 300px;
    margin: 10px;
}

#course-size{
    position: relative;
    width:450px;
    height:600px;
}
#h2{
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
#marginul{

    margin-left: 20px;
}
.main-main{
    
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bold-font{
    font-weight: bold;
}
#home-cards-4{
    margin-right: 20px;
        
    }
#home-cards-1{
    margin-left: 20px;
            
     }
#general-info{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    position: relative;
    color: black;
}
#general-info-head{
    margin-right: 25px;
    margin-left: 25px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    position: relative;
}
#logo{
    width: 200px; 
    height: 82px;
}
#text-ali{
    text-align: center;
}
#user-dim{
    width:60px;
    height:60px;
}
#main-home{
display: flex;
flex-direction: row;
position: relative;
gap: 20px;
justify-content: center;
align-items: center;
margin-top: 50px;



  

}
#msg-card-1{

    display: flex;
    position: relative;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(192, 189, 189, 0.4);
    flex: 1;
    height: 560px;
    color: black;
    
    
    
}#msg-card-2{

    display: flex;
    margin-right: 30px;
    background-color:white;
    box-shadow: 2px 2px 2px 2px rgba(192, 189, 189, 0.4);
    border-radius: 10px;
    position: relative;
    flex: 1;
    height: 560px;
    color: black;
    
}
#branch-img{
    border-radius: 10px;
}
@media (max-width:800px){
    .one{
      flex: 100%;
      max-width: 600px;
    }
  
    .two{
      flex: 100%;
      max-width: 600px;
      justify-content: center;
      align-self: center;
    }
    #container-one{
        flex-direction: column;
        
    }
    html,body{
        width: 100%;
        overflow-x: hidden;
    }
    .main-main{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        justify-content: center;
        align-items: center;
       
        }
    #container-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
#main-home{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;


  
  }
  #msg-card-1{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}  #msg-card-2{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
}